@model IEnumerable<E_Auction.ViewModels.BidView>

@{
    ViewBag.Title = "Bids";
}

<h2>MyBids</h2>

<p>
    @Html.ActionLink("Create New", "AddBid", new { id = ViewBag.LotId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidDate)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BidId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BidId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BidId })
                </td>*@
        </tr>
    }

</table>
