@model IEnumerable<E_Auction.ViewModels.BidView>

@{
    ViewBag.Title = "Bids";
}

<h2>MyBids</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLotRate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLotRate)
            </td>
            <td>
                @if (item.CurrentLotRate != null)
                {
                    @Html.ActionLink("Обновить", "AddBid", new { id = item.LotId }, new { @class = "btn btn-success" })
                }

                @*@Html.ActionLink("Удалить", "DeleteBid", new { id = item.BidId }, new { @class = "btn btn-success" }))*@
            </td>
        </tr>
    }

</table>

